{#<?php#}
{% from 'row_open.html.twig' import row_open as row_open %}
{% from 'row_close.html.twig' import row_close as row_close %}

<section id="about">

<div class="container wrap main-section">

	<div class="about-header">
		<h2>Welcome To Our Restaurant</h2>
	</div>

	<div class="about-icon">
		<img class="img-icon" alt="" src="http://cdn.bonappetit.stylemix.net/wp-content/uploads/2014/12/Untitled-3_03.png">
	</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placekitten.com/g/300/300" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placekitten.com/g/300/300" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placekitten.com/g/300/300" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>

</div>

	<div class="about-footer">
		<p><a href="#" class="btn btn-primary" role="button">About Us</a></p>
	</div>


</div>

</section>
