<section id="comments" class="comments">
	<div id="contact-page">
		<div class="responses">
		{% for cmt in post.get_comments() %}
			{% include [post.post_type~'-comment.twig', 'comment.twig'] with {comment:cmt} %}
		{% endfor %}
		</div>
		<div class="message_heading">
			<h4>{{ post.comment_count }} {{ __( 'Comments', 'maera' ) }}</h4>
		</div>
		{{ comment_form }}
	</div>
</section>
