<article {{ function( 'post_class', 'blog' ) }} id="post-{{ post.ID }}" itemscope itemtype="http://schema.org/Article">
	<div class="blog-item">
		<div class="row">
		{% block content %}
			{% do action( 'maera/single/top', post.ID ) %}
			{% include ['content-single-entry-'~post.ID~'-header.twig', 'content-single-entry-'~post.post_type~'-header.twig', 'content-single-entry-header.twig'] %}
			{% include ['content-single-entry-'~post.ID~'-meta.twig', 'content-single-entry-'~post.post_type~'-meta.twig', 'content-single-entry-meta.twig'] %}
			{% include ['content-single-entry-'~post.ID~'-content.twig', 'content-single-entry-'~post.post_type~'-content.twig', 'content-single-entry-content.twig'] %}
			{% include ['content-single-entry-'~post.ID~'-footer.twig', 'content-single-entry-'~post.post_type~'-footer.twig', 'content-single-entry-footer.twig'] %}
		{% endblock %}
		</div>
	</div>
</article>
