{% do action( 'maera/footer/before', post.ID ) %}
<div id="bottom" class="footer-wrapper">
	<div class="container wow center fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
		<div class="row">
			{% if sidebar.footer %}
			{{ sidebar.footer }}
			{% endif %}
		</div>
	</div>
	{% do action( 'maera/footer/start', post.ID ) %}
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-10">
					<p>{{ theme.theme_mod('copyright_text', '&copy; 2015 - Maera Restaurant') }}</p>
				</div>
				<div class="col-sm-2 pull-right">
					<a href="#" class="btn btn-primary gototop" role="button"><i class="fa fa-arrow-up"></i> {{ __('Back To Top', 'maera-restaurant') }}</a>
				</div>
			</div>
		</div>
	</footer>
	{% do action( 'maera/footer/end', post.ID ) %}
</div>
{% do action( 'maera/footer/after', post.ID ) %}

{{ function( 'wp_footer' ) }}

</body>
</html>
