{#<?php#}

{% import 'grid_classes.html.twig' as grid %}

{% set parts_serialized = theme.theme_mod('front_page_sections', function('serialize', ['section_1','section_2','section_3'] ) ) %}
{% set parts = function('maybe_unserialize', parts_serialized) %}

{% for part in parts %}

{% if part == 'section_1' %}
	{% do action( 'maera/restaurant/before_section_1' ) %}
	{% include 'section_1.twig' %}
	{% do action( 'maera/restaurant/after_section_1' ) %}
	<div class="clearfix"></div>
{% endif %}

{% if part == 'section_2' %}
	{% do action( 'maera/restaurant/before_section_2' ) %}
	{% include 'section_2.twig' %}
	{% do action( 'maera/restaurant/after_section_2' ) %}
	<div class="clearfix"></div>
{% endif %}

{% if part == 'section_3' %}
	{% do action( 'maera/restaurant/before_section_3' ) %}
	{% include 'section_3.twig' %}
	{% do action( 'maera/restaurant/after_section_3' ) %}
	<div class="clearfix"></div>
{% endif %}

{% if part == 'section_4' %}
	{% do action( 'maera/restaurant/before_section_4' ) %}
	{% include 'section_4.twig' %}
	{% do action( 'maera/restaurant/after_section_4' ) %}
	<div class="clearfix"></div>
{% endif %}

{% if part == 'section_5' %}
	{% do action( 'maera/restaurant/before_section_5' ) %}
	{% include 'section_5.twig' %}
	{% do action( 'maera/restaurant/after_section_5' ) %}
	<div class="clearfix"></div>
{% endif %}

{% endfor %}
