{#<?php#}
<a class="navbar-brand" href="{{ site.url }}">
{% if site_logo %}
	<img id="brand-logo" src="{{ TimberImage(site_logo.id).src }}" alt="{{ site.name }}">
	{% else %}
	{{ site.name }}
	{% endif %}
</a>
