{#<?php#}
<a href="{{ site.url }}" class="site-name-logo navbar-brand hide-brand">
	{% if site_logo %}
		<img id="brand-logo" src="{{ TimberImage(site_logo.id).src }}" alt="{{ site.name }}">
	{% else %}
		{{ site.name }}
	{% endif %}
</a>
