{#<?php#}
{% set parallax = theme.theme_mod('section_2_parallax') %}

<section id="section_2" class=" {% if parallax %}parallax{% endif %}">

{% if sidebar.section_2 %}
	{{ sidebar.section_2 }}
{% endif %}

</section>
