{#<?php#}
<div id="section_4" {% if theme.theme_mod('section_4_parallax') %}class="parallax container-fluid" style="background: url('{{ theme.theme_mod('section_4_background_image') }}') no-repeat fixed 50% 0;"{% endif %}>

	{% if sidebar.section_4 %}

		{{ sidebar.section_4 }}

	{% endif %}

</div>
