{#<?php#}
<div id="section_1" {% if theme.theme_mod('section_1_parallax') %} data-type="background" data-speed="5"{% endif %}>

	{% if sidebar.section_1 %}

		{{ sidebar.section_1 }}

	{% endif %}

</div>
