{#<?php#}
<div id="section_5" {% if theme.theme_mod('section_5_parallax') %} data-type="background" data-speed="5"{% endif %}>

	{% if sidebar.section_5 %}

		{{ sidebar.section_5 }}

	{% endif %}

</div>
