{#<?php#}
<div id="section_5" {% if theme.theme_mod('section_5_parallax') %}class="parallax container-fluid" style="background: url('{{ theme.theme_mod('section_5_background_image') }}') no-repeat fixed;"{% endif %}>

	{% if sidebar.section_5 %}

		{{ sidebar.section_5 }}

	{% endif %}

</div>
