{#<?php#}
{% set parallax = theme.theme_mod('section_3_parallax') %}

<section id="section_3" class=" {% if parallax %}parallax{% endif %}">

{% if sidebar.section_3 and function('is_active_sidebar','section_3') == true %}
	{{ sidebar.section_3 }}
{% else %}
	{% include 'front-page-posts.twig' %}
{% endif %}

</section>
