{#<?php#}
<div id="section_1" {% if theme.theme_mod('section_1_parallax') %}class="parallax container-fluid" style="background: url('{{ theme.theme_mod('section_1_background_image') }}') no-repeat fixed 50% 0;"{% endif %}>

	{% if sidebar.section_1 %}

		{{ sidebar.section_1 }}

	{% endif %}

</div>
