{#<?php#}
<div id="section_3" {% if theme.theme_mod('section_3_parallax') %}class="parallax" style="background: url('{{ theme.theme_mod('section_3_background_image') }}') no-repeat fixed;"{% endif %}>

	{% if sidebar.section_3 %}

		{{ sidebar.section_3 }}

	{% endif %}

</div>
