{#<?php#}
<div id="section_2" {% if theme.theme_mod('section_2_parallax') %}class="parallax container-fluid" style="background: url('{{ theme.theme_mod('section_2_background_image') }}') no-repeat fixed 50% 0;"{% endif %}>

	{% if sidebar.section_2 %}

		{{ sidebar.section_2 }}

	{% endif %}

</div>
