{#<?php#}
{% set parallax = theme.theme_mod('section_4_parallax') %}

<section id="section_4" class=" {% if parallax %}parallax{% endif %}">

{% if sidebar.section_4 %}
	{{ sidebar.section_4 }}
{% endif %}

</section>
