{#<?php#}
<div id="section_4" {% if theme.theme_mod('section_4_parallax') %} data-type="background" data-speed="5"{% endif %}>

	{% if sidebar.section_4 %}

		{{ sidebar.section_4 }}

	{% endif %}

</div>
