{#<?php#}
{% extends "main.twig" %}
{% block content %}

<article {{ function( 'post_class', 'blog' ) }} id="post-{{ post.ID }}" itemscope itemtype="http://schema.org/Article">
	<div class="blog-item">
		<div class="row">
			{% do action( 'maera/single/top', post.ID ) %}
			{% include 'single-restaurant-header.twig' %}
			{% include 'single-restaurant-meta.twig' %}
			{% include 'single-restaurant-content.twig' %}
			{% include 'single-restaurant-footer.twig' %}
		</div>
	</div>
</article>

{% endblock %}
