/***************************
    Fonts
***************************/
/*
Load any fonts that we need.
Fonts can be found in the /assets/fonts/ folder.
*/
@font-face {
    font-family: 'IcoMoon';
    font-style: normal;
    font-weight: 400;
    src: local('IcoMoon'), local('IcoMoon'), url(../fonts/IcoMoon-Free.ttf) format('truetype');
}


/***************************
  General
***************************/
* {
    border-radius: 1px !important;  /* Override for now */
}

a {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover {
    text-decoration: none;
}


/***************************
  Body
***************************/
body {

}

#parallax-wrapper {
/*    margin-bottom: 75px; /* Footer Height */*/
    width: 100%;
}
.container-full {
    margin: 0 auto;
    width: 100%;
}
/***************************
  Sidebar
***************************/


/***************************
  Button Overrides
***************************/


/***************************
  Block/Pull Quotes
***************************/


/***************************
  Social Icons
***************************/


/***************************
  Slider Widget
***************************/
.carousel-caption {
    right: 20%;
    left: 20%;
    top: 30%;
    padding-bottom: 25px;
    max-height: 50%;
    height: auto;
}

.carousel-caption h1{
    font-size: 3em;
    color: #fff;
    border-top: 1px solid rgb(227,173,71);
    border-bottom: 1px solid rgb(227,173,71);
    padding: 15px;
    line-height: 2em;
    margin-bottom: 15px;
    text-shadow: 2px 2px rgba(0,0,0,0.25);
}

.carousel .item {
    height: 100%;
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    background: #000;
}
.carousel .item img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.carousel .active {
  opacity: 1;
}

.carousel .active.left,
.carousel .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel .next.left,
.carousel .prev.right {
  opacity: 1;
}

.carousel .carousel-control {
  z-index: 2;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    position: absolute;
    top: 43%;
    z-index: 5;
    display: inline-block;
}



/***************************
  Menu Widget
***************************/
.widget_maera_res_menu_widget .widget-title{
    font-size: 72px;
}

#menu-filter {
    list-style-type: none;
    text-align: center;
    margin-bottom: 25px;
}

#menu-filter li {
    display: inline;
    padding-right: 10px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

#menu-filter li a {
    color: #777;
    text-decoration: none;
    font-size: 2em;
    line-height: 1.5em;
}

#menu-filter li .current,
#menu-filter li:hover {
    color: #084a9a;
    text-decoration: underline;

}

#menu-wrapper {
    padding-bottom: 25px;
}

#menu-list {
    list-style-type: none;

}

.menu_item_wrapper {
  margin: 15px 0;
  padding: 5px;
  height: 125px;
}

.dish_name {
    display: table-cell;
    font-weight: 600;
    width: 1%;
    white-space: nowrap;
    padding-right: 15px;
}

.price_dots {
    display: table-cell;
    width: 98%;
    background: url("../img/price_dots.png") 0 16px repeat-x;
}

.price {
    display: table-cell;
    font-weight: 600;
    width: 1%;
    white-space: nowrap;
    padding-left: 14px;
}

.menu_item_tags {
/*    position: absolute;
    bottom: 20px;
    left: 20px;
*/    background: #e68b1f;
    padding: 4px 8px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    z-index: 9;
    float: right;
    font-size: 10px;
}

.menu_item_tags a{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
/***************************
  Navbar
***************************/
.affix {
    top: 0;
}

.bottom-nav {
    position:absolute;
    bottom:0;
    left:0;
    margin-bottom:0;
}

.hide-brand {
    opacity: 0;
    display: none;
}

.show-brand {
    display: inline-block;
    opacity: 1;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar.navbar-default {
    width: 100%;
    z-index: 999;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.small-nav {
    padding: 5px 0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand > img {
    max-height: 100%;
    display: block;
}

.navbar-default .navbar-nav > li > a {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5em;
    font-style: italic;
    margin-right: 12px;
    color: #fff !important; /*Temp*/
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #e3ad47 !important; /*Temp*/
}

.navbar-default .navbar-nav > li > a:after {
    content: "\e919";
    font-family: 'IcoMoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    color: #e3ad47;
    display: inline-block;
    margin-left: 25px;
}


/***************************
  First Section
***************************/
#section_1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


/***************************
  Section Section
***************************/
#section_2 {
    width: 100%;
    height: auto;
    margin: 0 auto;
}


/***************************
  Third Section
***************************/
#section_3 {
    width: 100%;
    height: auto;
    margin: 0 auto;
}


/***************************
  Fourth Section
***************************/
#section_4 {
    width: 100%;
    height: auto;
    margin: 0 auto;
}


/***************************
  Fifth Section
***************************/
#section_5 {
    width: 100%;
    height: auto;
    margin: 0 auto;
}


/***************************
  Footer
***************************/
footer {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}


/* EOF */
