/***************************
    Fonts
***************************/
/*
Load any fonts that we need.
Fonts can be found in the /assets/fonts/ folder.
*/

/***************************
  General
***************************/
a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

a.featured-image {
  margin-right: 1em;
  float: left;
  max-width: 100%;
  margin: 0;
}

img.featured-image {
  margin: 0 1em 1em 0;
  float: left;
}

code {
  display: inline-block;
  max-width: 100%;
  white-space: normal;
  ms-word-wrap: break-word;
  word-wrap: break-word;
  color: #333;
  background-color: #eee;
  font-weight: 300;
  font-size: 0.65em;
}

pre {
  color: #333;
  background-color: #eee;
}

img {
  height: auto
}

.wp-caption {
  max-width: 100%;
  height: auto;
}

/***************************
  Body
***************************/
body {
  overflow-x: hidden;
  ms-word-wrap: break-word;
  word-wrap: break-word;
}

#parallax-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}

.parallax {
  background-position: center top;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
}

.content-primary-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.container.boxed {
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 0 1em 1px rgba(50,50,50,0.1);
}

.post-meta-element {
  margin-right: 0
}

.post-meta-element.category ul {
  display: inline-block
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.panel-body {
  padding: 15px
}

/***************************
  Navbar
***************************/
.navbar {
  z-index: 9999;
  margin: 0 auto;
}

.navbar-brand {
  padding: 0
}

.navbar-brand > img {
  max-height: 100%;
  display: block;
}

.nav-padding {
  padding-top: 55px
}

.navbar-default {
  border-radius: 1px
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999;
}

a.brand-logo h1 {
  margin: 0
}

ul.nav.navbar-nav.navbar-center {
  text-align: center;
  float: none;
}

ul.nav.navbar-nav.navbar-center li {
  float: none;
  display: inline-block;
}

.admin-bar .navbar-fixed-top {
  margin-top: 32px
}

/***************************
  First Section
***************************/
#section_1 {
  width: 100%;
  margin: 0 auto;
}

/***************************
  Section Section
***************************/
#section_2 {
  width: 100%;
  margin: 0 auto;
}

/***************************
  Third Section
***************************/
#section_3 {
  width: 100%;
  margin: 0 auto;
}

/***************************
  Fourth Section
***************************/
#section_4 {
  width: 100%;
  margin: 0 auto;
}

/***************************
  Fifth Section
***************************/
#section_5 {
  width: 100%;
  margin: 0 auto;
}

/***************************
  Sidebar
***************************/

/***************************
  Footer
***************************/
footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

footer.footer {
  padding-top: 15px;
  padding-bottom: 0;
}

#footer-wrap {
  text-align: center
}

.footer-content {
  margin-bottom: 12px
}

#copyright-info {
  padding-top: 8px;
  padding-bottom: 4px;
  box-shadow: 0 0 1em 1px rgba(50,50,50,0.1);
  font-size: .75em;
  line-height: 1em;
}

/***************************
  Buttons
***************************/

/***************************
  Block/Pull Quotes
***************************/

/***************************
  Social Icons
***************************/
.widget_social_icon > .fa-facebook,
.widget_social_icon:hover > .fa-twitter,
.widget_social_icon:hover > .fa-google-plus,
.widget_social_icon:hover > .fa-youtube {
  -o-transition: .35s;
  -ms-transition: .35s;
  -moz-transition: .35s;
  -webkit-transition: .35s;
  transition: .35s;
}

.widget_social_icon:hover > .fa-facebook {
  color: #3B5998
}

.widget_social_icon:hover > .fa-twitter {
  color: #4099FF
}

.widget_social_icon:hover > .fa-google-plus {
  color: #d34836
}

.widget_social_icon:hover > .fa-youtube {
  color: #cd201f
}

/***************************
  Slider Widget
***************************/
.widget_maera_res_slider_widget {
  padding: 0
}

.carousel {
  width: 100%;
  margin: 0 auto;
}

.carousel-caption {
  right: 20%;
  left: 20%;
  top: 25%;
  padding-bottom: 25px;
  max-height: 50%;
  height: auto;
}

.carousel-caption h1 {
  font-size: 3em;
  color: #fff;
  padding: 15px;
  line-height: 2em;
  margin-bottom: 15px;
  text-shadow: 2px 2px rgba(0,0,0,0.25);
}

.carousel .item {
  height: 100%;
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  background-size: cover;
  background-attachment: fixed;
}

.carousel .item img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.carousel .active {
  opacity: 1
}

.carousel .active.left,
.carousel .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel .next.left,
.carousel .prev.right {
  opacity: 1
}

.carousel .carousel-control {
  z-index: 2
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

/***************************
  Menu Widget
***************************/
.widget_maera_res_menu_widget {
  padding: 25px
}

#menu-filter {
  list-style-type: none;
  text-align: center;
  margin-bottom: 25px;
}

#menu-filter li {
  display: inline;
  padding-right: 10px;
}

#menu-filter li a {
  color: #777;
  text-decoration: none;
  font-size: 2em;
  line-height: 1.5em;
}

#menu-filter li .current,
#menu-filter li:hover {
  color: #084a9a;
  text-decoration: none;
}

#menu-filter .selected {
  border-bottom: 1px solid #aaa
}

#menu-wrapper {
  padding-bottom: 25px
}

#menu-list {
  list-style-type: none
}

.dish_name {
  display: table-cell;
  font-weight: 600;
  width: 1%;
  white-space: nowrap;
  padding-right: 15px;
}

.price_dots {
  display: table-cell;
  width: 98%;
  background: url("../img/price_dots.png") 0 16px repeat-x;
}

.price {
  display: table-cell;
  font-weight: 600;
  width: 1%;
  white-space: nowrap;
  padding-left: 14px;
}

.menu_item_tags {
  background: #e68b1f;
  padding: 4px 8px;
  z-index: 9;
  float: right;
  font-size: 10px;
}

.menu_item_tags a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.menu_link_wrapper {
  text-align: center
}

.isotope-item {
  z-index: 2
}

.isotope-hidden.isotope-item {
  z-index: 1
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
  -ms-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  transition-duration: 0.75s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/***************************
  Frontpage Posts
***************************/
#post-list {
  margin-right: 25px;
  margin-left: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.thumbnail {
  position: relative;
  overflow: hidden;
}

.thumbnail img {
  width: 100%
}

.caption h3 {
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 5px;
}

.caption p {
  color: #222;
  margin-bottom: 35px;
}

.caption p > .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .2em .6em .3em;
  font-size: 0.75em;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1px;
  border: 1px solid #eee;
  box-shadow: inset 0px 0px 10px -5px #aaa;
  -webkit-box-shadow: inset 0px 0px 10px -5px #aaa;
  -moz-box-shadow: inset 0px 0px 10px -5px #aaa;
  -o-box-shadow: inset 0px 0px 10px -5px #aaa;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.caption p > .read-more:hover {
  color: #ffffff;
  background-color: #df691a;
  text-decoration: none;
}

.entry-category {
  position: absolute;
  top: 12px;
  right: 4px;
  background: #333;
  padding: 4px 8px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75em;
  display: none;
  box-shadow: 0 0 1em 1px rgba(50,50,50,0.1);
}

.entry-category a {
  color: #fff
}

.caption .entry-meta {
  color: #333;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.post-article {
  text-align: center
}

.hover-image {
  overflow: hidden
}

.thumbnail img {
  -webkit-transition: all .75s ease;
  -moz-transition: all .75s ease;
  -ms-transition: all .75s ease;
  -o-transition: all .75s ease;
  transition: all .75s ease;
}

.thumbnail:hover img {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

/***************************
  Breadcrumbs
***************************/
.breadcrumbs {
  padding: 8px;
  margin-bottom: 15px;
  list-style: none;
  background-color: #eee;
  border-radius: 1px;
}

.breadcrumbs li {
  display: inline-block
}

.breadcrumbs li + li:before {
  content: "\00a0";
  padding: 0 5px;
  color: #333;
}

.breadcrumbs > .active {
  color: #fff
}

/***************************
  Input
***************************/
.button,
input[type="submit"] {
  width: auto
}

textarea[rows="2"] {
  height: 4em
}

textarea[rows="3"] {
  height: 6em
}

textarea[rows="4"] {
  height: 8em
}

textarea[rows="5"] {
  height: 10em
}

textarea[rows="6"] {
  height: 12em
}

textarea[rows="7"] {
  height: 14em
}

textarea[rows="8"] {
  height: 16em
}

textarea[rows="9"] {
  height: 18em
}

textarea[rows="10"] {
  height: 20em
}

textarea[rows="11"] {
  height: 22em
}

textarea[rows="12"] {
  height: 24em
}

/* EOF */
