/***************************
    Fonts
***************************/
/*
Load any fonts that we need.
Fonts can be found in the /assets/fonts/ folder.
*/
@font-face {
    font-family: 'IcoMoon';
    font-style: normal;
    font-weight: 400;
    src: local('IcoMoon'), local('IcoMoon'), url(../fonts/IcoMoon-Free.ttf) format('truetype');
}


/***************************
  General
***************************/
* {
    border-radius: 1px !important;  /* Override for now */
}

a {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover {
    text-decoration: none;
}


/***************************
  Body
***************************/
body {

}

#parallax-wrapper {
    margin-bottom: 75px; /* Footer Height */
    width: 100%;
    box-shadow: 0 1px 5px rgba(0,0,0,0.75);
    border-bottom: 1px solid #333333;
}


/***************************
  Sidebar
***************************/


/***************************
  Button Overrides
***************************/


/***************************
  Block/Pull Quotes
***************************/


/***************************
  Social Icons
***************************/


/***************************
  Slider
***************************/
#slider {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

.carousel-caption {
    right: 20%;
    left: 20%;
    top: 30%;
    padding-bottom: 25px;
    max-height: 50%;
    height: auto;
}

.carousel-caption h1{
    font-size: 3em;
    color: #fff;
    border-top: 1px solid rgb(227,173,71);
    border-bottom: 1px solid rgb(227,173,71);
    padding: 15px;
    line-height: 2em;
    margin-bottom: 15px;
    text-shadow: 2px 2px rgba(0,0,0,0.25);
}

.carousel .item {
    height: 100%;
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    background: #000;
}
.carousel .item img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.carousel .active {
  opacity: 1;
}

.carousel .active.left,
.carousel .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel .next.left,
.carousel .prev.right {
  opacity: 1;
}

.carousel .carousel-control {
  z-index: 2;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    position: absolute;
    top: 43%;
    z-index: 5;
    display: inline-block;
}


/***************************
  Navbar
***************************/
.affix {
    top: 0;
}

.bottom-nav {
    position:absolute;
    bottom:0;
    left:0;
    margin-bottom:0;
}

.hide-brand {
    opacity: 0;
    display: none;
}

.show-brand {
    display: inline-block;
    opacity: 1;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar.navbar-default {
    width: 100%;
    z-index: 999;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.small-nav {
    padding: 5px 0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand > img {
    max-height: 100%;
    display: block;
}

.navbar-default .navbar-nav > li > a {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5em;
    font-style: italic;
    margin-right: 12px;
    color: #fff !important; /*Temp*/
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #e3ad47 !important; /*Temp*/
}

.navbar-default .navbar-nav > li > a:after {
    content: "\e919";
    font-family: 'IcoMoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    color: #e3ad47;
    display: inline-block;
    margin-left: 25px;
}


/***************************
  About
***************************/
#about {
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding-top: 88px;
    padding-bottom: 100px;

}
.about-icon {
    text-align: center;
    padding: 25px;
}

.about-header h2 {
    font-weight: normal;
    font-size: 4em;
    color: #000000;
    margin-bottom: 23px;
    text-align: center;
}

.about-footer {
    text-align: center;
}


/***************************
  Menu
***************************/
#menu {
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-bottom: 1px solid #aaa;
}


/***************************
  Content
***************************/
#wrap-main-section {
    padding: 25px;
}

.content-primary-wrapper {

}

#latest-posts {
    height: auto;
    background-position: 100% !important;
}

#latest-posts .frontpage_article {
    float: left;
    margin: 15px 0;
    text-align: center;
    overflow: hidden;
}

.frontpage_article .thumbnail {
    position: relative;
    overflow: hidden;
}

.frontpage_article .caption {
    position:absolute;
    top: 0;
    right: 0;
    background:rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    padding: 2%;
    display: none;
    text-align: center;
    color: #fff;
    z-index:2;
}

.frontpage_article .caption h3 {
    color: #fff;
}

#latest-posts .frontpage_article img {
    width: 100%;
    margin: 0 auto;
}


/***************************
  Events
***************************/
#events {
    width: 100%;
    margin: 0 auto;
    height: auto;
}


/***************************
  Testimonials
***************************/
#testimonials {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-position: 100% !important;
}


/***************************
  Pre Footer
***************************/
#pre-footer{
    width: 100%;
    margin: 0 auto;
    height: auto;
}


/***************************
  Footer
***************************/
footer {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: -1;
    background-color:#252525;
}

footer .well {
    background-color: #252525;
    color: #818181;
    word-wrap: break-word;
    border-bottom: none;
}

footer .well h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Lato';
}

footer .well ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
footer .well ul li {
    padding-bottom: 15px;
}

footer .well a {
    color: #818181 !important;
}

footer .well a:hover {
    color: #ffffff !important;
}

footer .well > .textwidget p {
    line-height: 2.5em;
}

.footer_social_icon {
    margin-right: 15px;
}

#footer-copyright {
    text-align: center;
    color: #fff;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.25em;
}

/* EOF */
